.alice-carousel__prev-btn, 
.alice-carousel__next-btn{
    display: none;
}

.alice-carousel__dots{
    margin: 0;
}

.alice-carousel__dots-item:not(.__custom){
    display: inline-block;
    background-color: #FFFFFF80;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    transition: .2s ease-in-out;
    &:not(:last-child){
        margin-right: 10px;
    }
}

.alice-carousel__dots-item:not(.__custom).__active{
    width: 20px;
    border-radius: 7px;
    background-color: #7572D5;
}